.sign-up-form .input{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 8px;
    /* text-align: center; */
}

.signup-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-right: 0%;
    padding-left: 0%;
    border: solid lightgrey;
    border-width: 1px;
    border-radius: 25px;
    background-color: white;
    margin-bottom: 10%;
}

.signup-form {
    justify-content: center;
    flex-direction: column;
    width: 50vw;
    height: 30vh;
}

.signup-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* flex-wrap: wrap; */
    text-align: center;
    margin-top: 10%;
    height: 10%;
}

.signup-btn {
    background-color: #4ECDC4;
    border-color: #4ECDC4;
    color: white;
    border-radius: 5px;
    width: 10vmin;
}

@media screen and (min-width: 800px) {
    
    .signup-form {
        justify-content: center;
        flex-direction: column;
        width: 60vh;
        height: 50vh;
    }
    
    .signup-form .btn {
        display: flex;
        justify-content: center;
        flex-direction: column;
        /* flex-wrap: wrap; */
        text-align: center;
        margin-top: 10%;
        height: 10%;
    }
}

.sign-up-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sign-up-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.sign-up-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-left: 8px;
}
.sign-in-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sign-in-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.sign-in-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-left: 8px;
}

.signup-btn:focus {
    outline: none;
}